<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name = "viewport" content="width=device-width">
		<link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
		<title>フォームページ</title>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
		<script type="text/javascript" src="https://github.com/nagix/chartjs-plugin-colorschemes/releases/download/v0.2.0/chartjs-plugin-colorschemes.min.js"></script>
	</head>
	<body>
		<!-- 銀行名変更の場合表示 -->
		<div id="title_boxN" style="display: none;">
			<input id="new_title" type="text" maxlength="10">
			<a href="#" class="btn-square-toy" onclick="updateTitle()">OK</a>
		</div>
		<!-- 銀行名 -->
		<div id="title_boxO" onclick="editName()">
			<h1 id="old_title">まるまるぎんこう</h1>
		</div>
		<!-- 通帳が上部に移動する際透けないようにするためのブロック -->
		<div class="top_space"></div>
		<div class="container">
			<div class="book">
				<!-- 通帳ブロック_デザイン -->
				<div class="box">
					<div class="box_content">
						<div>
							<h2>つうちょう</h2>
							<p>PASS BOOK</p>
						</div>
						<img src="{{ url_for('static', filename='ATMicon.png') }}" width="70px">
					</div>
				</div>
				<div class="space"></div>
				<div class="box2">
					<!-- 移動する通帳 -->
					<div class="table-container"  {% if not account %}hidden{% endif %}>
						<div class="in_box"><span id="in_title" sty>まるまるぎんこう</span>ふつうよきん</div>
						<table>
							<tr>
								<th>年 - 月 - 日</th>
								<th class="th_name">ことがら</th>
								<th>しはらい</th>
								<th>あずかり</th>
								<th>ごうけい</th>
							</tr>
						{% for pay in account %}
							<tr>
								<td style="text-align: center;">{{ pay.pay_date }}</td>
								<td>{{ pay.pay_name }}</td>
								<td style="text-align: right;"><span class="zero-value">{{ pay.pay_amount }}</span></td>
								<td style="text-align: right;">{{ pay.get_amount }}</td>
								<td style="text-align: right;">{{ pay.sum_amount }}</td>
							</tr>
						{% endfor %}
						</table>
						<div class="shadow"></div>
						<div class="square"></div>
						<div class="border"></div>
					</div>
				</div>
			</div>
			<!-- カードブロック_デザイン -->
			<div class="card">
				<div class="box">
					<div class="box_content">
						<div>
							<h2>カード</h2>
							<p>CARD</p>
						</div>
						<img src="{{ url_for('static', filename='CARDicon.png') }}" width="70px">
					</div>
				</div>
				<div class="space"></div>
				<div class="box2"></div>
			</div>
		</div>

		<!-- 入力 -->
		<div class="select_button">
			<form method="POST" action="/" id="myForm">
				<input class="radio" type="radio" name="pay_which" id="on" value="+" checked="">
				<label for="on" class="switch-on">+</label>
				<input class="radio" type="radio" name="pay_which" id="off" value="-">
				<label for="off" class="switch-off">-</label>
	
				<input type="text" name="text" placeholder ="ことがら" maxlength="10" class="thing">
				<input type="number" name="amount" placeholder="きんがく" class="thing" id="input_amount">
				<input type="hidden" name="date" id="payDate">
				<input type="hidden" name="set_month" id="set_month">
				<input type="submit" value="送信" id="submitBtn">
			</form>
		</div>

		<!-- 10件以上で次ページができた場合移動ボタンを表示 -->
		{% if account %}
		<div class="pagination">
		{% if page > 1 %}
			<a class="prev" href="?page={{ page - 1 }}"><img src="{{ url_for('static', filename='dolphinicon.png') }}" width="55px" style="transform:rotate(-130deg);"></a>
		{% endif %}
		{% if page < total_pages %}
			<a class="next" href="?page={{ page + 1 }}"><img src="{{ url_for('static', filename='shrimpicon.png') }}" width="45px" style="transform:rotate(50deg);"></a>
		{% endif %}
		</div>
		{% endif %}

		<!-- 月毎のグラフ -->
		<div style="position:absolute;width:300px;height:300px;top: 140px;">
			<canvas id="stage"></canvas>
		</div>

		<!-- 収支のグラフ -->
		<div style="position:absolute;width:300px;height:250px;top: 300px;">
			<canvas id="pie_canvas"></canvas>
		</div>
		
		<!-- 電卓 -->
		<div class="dentaku_box">
			<form name="dentaku">
				<table class="dentaku_table">
					<tr>
					<td><input type="button" value="7" onclick="get_calc(this)"></td>
					<td><input type="button" value="8" onclick="get_calc(this)"></td>
					<td><input type="button" value="9" onclick="get_calc(this)"></td>
					<td><input type="button" value="万" class="operator" name="div_btn" onclick="get_calc(this)"></td>
					</tr>
					
					<tr>
					<td><input type="button" value="4" onclick="get_calc(this)"></td>
					<td><input type="button" value="5" onclick="get_calc(this)"></td>
					<td><input type="button" value="6" onclick="get_calc(this)"></td>
					<td><input type="button" value="千" class="operator" name="multi_btn" onclick="get_calc(this)"></td>
					</tr>
				
					<tr>
					<td><input type="button" value="1" onclick="get_calc(this)"></td>
					<td><input type="button" value="2" onclick="get_calc(this)"></td>
					<td><input type="button" value="3" onclick="get_calc(this)"></td>
					</tr>
				
					<tr>
					<td><input type="button" value="C" class="operator" onclick="clearAmount()"></td>
					<td><input type="button" value="0" onclick="get_calc(this)"></td>
					</tr>
				
				</table>
			</form>
		</div>

		<script>
			// 日付ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
			const today = new Date();
			function dateFormat(today, format){
				format = format.replace("YYYY", today.getFullYear());
				format = format.replace("MM", ("0"+(today.getMonth() + 1)).slice(-2));
				format = format.replace("DD", ("0"+ today.getDate()).slice(-2));
				return format;
			}
			const data = dateFormat(today,'YYYY-MM-DD');
			const set_date = document.getElementById("payDate");
			set_date.value = data;
			set_date.setAttribute("min", data);

			const month_format = today.getMonth() + 1;
			const set_month = document.getElementById("set_month");
			set_month.value = month_format;

			// 月毎のグラフーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
			var sumMonthData = [
				{% for sum in sum_month_table %}
					{{ sum.sum_amount }},
				{% endfor %}
			];

			var mydata = {
			labels: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
			datasets: [
			{
				label: '円',
				hoverBackgroundColor: "rgba(255,99,132,0.3)",
				data: sumMonthData,
			}
			]
			};

			var options1 = {
				title: {    
				display: true,
				text: '月ごとのきんがく'
				},
			};

			var canvas = document.getElementById('stage');
			var chart = new Chart(canvas, {
				type: 'bar',
				data: mydata,
				options: options1
			});

			// 収支のグラフーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
			var totalGetAmounut = {{ total_get_amount }};
			var totalPayAmounut = {{ total_pay_amount }};
			
			var pie_canvas = document.getElementById("pie_canvas")
			new Chart(pie_canvas, {
				type: 'doughnut',
				data: {
					labels: ["もらったお金","つかったお金"],
					datasets: [{
					data: [totalGetAmounut,totalPayAmounut]
					}]
				},
				options: {
					responsive: false,
				}
			});

			// アニメーションーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
			document.getElementById("myForm").addEventListener("submit", function (event) {
				event.preventDefault();
				var tableContainer = document.querySelector(".table-container");
				tableContainer.classList.add("finish");
					setTimeout(function () {
						document.getElementById("myForm").submit();
					}, 1500);
				});

			// 銀行名変更ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
			function editName(){
				var titleBoxN = document.getElementById("title_boxN");
				var titleBoxO = document.getElementById("title_boxO");
				var newTitle = document.getElementById("new_title");
				var oldTitle = document.getElementById("old_title");
				titleBoxN.classList.add("title_new");
				titleBoxN.style.display = "flex";
				newTitle.value = oldTitle.textContent;
				newTitle.focus();
			}

			function updateTitle(){
				var newTitle = document.getElementById("new_title").value;
				var oldTitle = document.getElementById("old_title");
				var inTitle = document.getElementById("in_title");
				oldTitle.textContent = newTitle;
				inTitle.textContent = newTitle;
				var titleBoxN = document.getElementById("title_boxN");
				var titleBoxO = document.getElementById("title_boxO");
				titleBoxN.style.display = "none";
				titleBoxO.style.display = "block";
			}

			// 電卓ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
			function get_calc(btn) {
				const amountField = document.getElementById("input_amount");
				if (btn.value === "万") {
					amountField.value += "0000";
				} else if (btn.value === "千") {
					amountField.value += "000";
				} else {
					amountField.value += btn.value;
				}
			}

			function clearAmount() {
				const amountField = document.getElementById("input_amount");
				amountField.value = "";
			}
		</script>
	</body>
</html>